/*
  Gris plus foncé : #dfe4ea
  Gris clair : #f1f2f6
  Blanc : #ffffff
  

*/

/* Header */
.logo {

  color: #f1f2f6;

}

.header-bg h1 {
  color: #ffffff;
}

.header-bg h2 {
  color: #f1f2f6;
}

.header-bg h3 {
  color: #f1f2f6;
}

/* Header */